body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #ffe6f0, #fff6cc);
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BUTTON */
.btn {
  padding: 15px 35px;
  font-size: 20px;
  border-radius: 14px;
  border: none;
  background: linear-gradient(135deg, #ff99cc, #ff4d88);
  color: white;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 8px 20px rgba(255, 77, 136, 0.4);
  transition: 0.2s;
}

.btn:hover {
  transform: scale(1.05);
}

/* WELCOME */
.welcome-container {
  background: white;
  padding: 40px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0,0,0,0.25);
}

.welcome-img {
  width: 260px;
  margin: 20px 0;
}

.welcome-text {
  font-size: 20px;
}

/* QUIZ */
.quiz-container {
  background: white;
  padding: 35px;
  border-radius: 25px;
  width: 80%;
  max-width: 900px;
  text-align: center;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.option {
  padding: 15px;
  border-radius: 12px;
  border: 2px solid #ff99cc;
  cursor: pointer;
}

.correct {
  background: #c8f7c5;
  font-weight: bold;
}

/* WINNER */
.winner-container {
  background: white;
  padding: 45px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0,0,0,0.25);
}

.winner-container input {
  padding: 14px;
  font-size: 20px;
  border-radius: 12px;
  border: 2px solid #ff99cc;
  width: 260px;
  text-align: center;
}

.winner-name {
  color: #ff4d88;
  font-size: 46px;
}

.celebrate-text {
  font-size: 22px;
}
